$dark-blue: #001e34;
$lighter-blue: #00d7f9;
$light-blue: #2563a2;
$yellow: #feda60;
$orange: #fca931;
$white: #fff;
$maroon: #d52056;
$red: #9d0737;
@mixin horizontal-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
body {
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; // background
  &::after {
    content: "";
    width: 100vh;
    height: 100vw;
    transform: rotate(90deg);
    position: absolute;
    background: repeating-linear-gradient(
      90deg,
      #b92184,
      #ed2761,
      #ed2761,
      #f16f8e,
      #fee7a4,
      #a2dadc,
      #01c0e1,
      #7854a4,
      #a6238f,
      #b92184,
      #ed2761,
      #ed2761,
      #f16f8e,
      #fee7a4,
      #a2dadc,
      #01c0e1,
      #7854a4,
      #a6238f
    );

    background-size: 200%;
    animation: background 0.5s linear infinite;
  }
}
.ufo {
  font-size: 23px;
  width: 5.813em;
  height: 5.813em;
  border-radius: 50%;
  border: 0.5em solid $dark-blue;
  box-sizing: border-box;
  position: relative;
  animation: shake 0.08s ease-in-out infinite alternate;
  z-index: 1;
  // bottom half
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.125em;
    border-radius: 0 0 2.125em 2.125em;
    border-top: 0.5em solid $dark-blue;
    box-sizing: inherit;
    background: radial-gradient(circle at top, $lighter-blue, $light-blue);
    z-index: -1;
  }
  // divider
  &::before {
    content: "";
    @include horizontal-center;
    bottom: 0.25em;
    width: 0.5em;
    height: 1.375em;
    border-radius: 0 0 1.375em 1.375em;
    border-color: $dark-blue;
  }
}
.ufo__antenna {
  // circle
  @include horizontal-center;
  top: -2.5em;
  width: 1.813em;
  height: 1.813em;
  background: radial-gradient(circle at top, $yellow, $orange);
  border-radius: inherit;
  border: inherit;
  box-sizing: inherit; // base
  &::after {
    content: "";
    @include horizontal-center;
    bottom: -0.9em;
    height: 0.5em;
    width: 0.6em;
    background: $dark-blue;
  }
}
.ufo__stand {
  position: absolute;
  left: -1em;
  bottom: 0;
  width: 2.188em;
  height: 0.625em;
  border-radius: 0 0 0 0.625em;
  background: $dark-blue;
  z-index: -3;
  &::after {
    content: "";
    position: absolute;
    top: calc(-2.188em / 2);
    left: 0.188em;
    width: 2.188em;
    height: 2.188em;
    transform: rotate(-45deg);
    border-radius: 0.625em 0.625em 0 0;
    background: linear-gradient(45deg, transparent 40%, $dark-blue 0%);
  }
}
.ufo__stand--right {
  transform: scaleX(-1);
  left: unset;
  right: -1em;
}
.ufo__alien {
  @include horizontal-center;
  top: 0.375em;
  width: 4.063em;
  height: 2.375em;
  border: inherit;
  border-bottom: 0;
  border-radius: 4.063em 4.063em 0 0;
  box-sizing: inherit;
  background: $maroon;
  z-index: -2;
  // eyebrow
  &::after {
    content: "";
    @include horizontal-center;
    top: 0.75em;
    width: 85%;
    height: 0.5em;
    border-radius: 0.5em;
    background: $red;
  }
  // eyes
  &::before {
    content: "";
    @include horizontal-center;
    top: 0.9em;
    width: 0.625em;
    height: 0.625em;
    border-radius: 50%;
    color: $white;
    background: currentColor;
    box-shadow: -0.8em 0, 0.8em 0;
  }
}
.ufo__mirror {
  position: absolute;
  width: 100%;
  height: 2.91em;
  border-radius: 2.91em 2.91em 0 0;
  overflow: hidden;
  z-index: -1;
}
.ufo__mirrorShine {
  display: block;
  animation: shine 0.3s linear infinite;
  &::after {
    content: "";
    position: absolute;
    top: -2.609em;
    transform: rotate(45deg);
    height: 8em;
    width: 2em;
    color: rgba($white, 0.6);
    background: currentColor;
    box-shadow: 2em 0 0 -0.696em;
  }
}
.ufo__motionLines {
  @include horizontal-center;
  bottom: -160%;
  width: 120%;
  display: flex;
  justify-content: space-between;
}
.ufo__motionLine {
  --animation-delay: 0s;
  --vertical-position: 0;
  --vertical-position-animate: 0;
  position: relative;
  top: var(--vertical-position);
  width: 0.391em;
  height: 6.261em;
  border-radius: 0.391em;
  color: $dark-blue;
  overflow: hidden;
  animation: motionLineUp 1s ease infinite;
  &::after {
    content: "";
    display: inline-block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: currentColor;
    transform: translateY(-100%);
    animation: motionLine 0.3s var(--animation-delay) linear infinite;
  }
  &:nth-child(1) {
    --animation-delay: 0.3s;
  }
  &:nth-child(5) {
    --animation-delay: 0.6s;
  }
  &:nth-child(1),
  &:nth-child(5) {
    --vertical-position: 0;
    --vertical-position-animate: 1em;
  }
  &:nth-child(2) {
    --vertical-position: 3em;
    --vertical-position-animate: 3em;
    --animation-delay: 0.4s;
  }
  &:nth-child(3) {
    --vertical-position: 5em;
    --vertical-position-animate: 1em;
    --animation-delay: 1s;
  }
  &:nth-child(4) {
    --vertical-position: 2em;
    --vertical-position-animate: 1em;
    --animation-delay: 0.5s;
  }
}
@keyframes motionLine {
  100% {
    transform: translateY(100%);
    opacity: 0.8;
  }
}
@keyframes motionLineUp {
  0% {
    top: var(--vertical-position);
  }
  100% {
    top: var(--vertical-position) - var(--vertical-position-animate);
  }
}
@keyframes shine {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200%);
  }
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0.5em);
  }
}
@keyframes background {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
